@import "node_modules/bootstrap/scss/bootstrap";

$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../image/background.jpg);
$background-opacity: 0.9;
$section-padding: 8vh;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

* {
  box-sizing: border-box;
}

p-0 {
  padding: 0;
}

body {
  background-color: $primary-color;
  color: lighten($primary-color, 100%);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0 5rem;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.md-heading {
    font-size: 2.2rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($primary-color, 2), 0.5);
  }
}

.text-second {
  color: $secondary-color;
}

a,
a:hover {
  text-decoration: none;

  &.button {
    font-size: 1.3rem;
    color: $secondary-color;
    border: lighten($primary-color, 100%) solid 1px;
    padding: 0.8rem 1rem;
    line-height: 1.3;
    border-radius: 1px;
    background-color: rgba(lighten($primary-color, 2), 0.5);

    &.button:hover {
      border: $secondary-color;
      color: $primary-color;
      background-color: $secondary-color;
      @include easeOut;

      i {
        @include easeOut;
        transform: rotate(90deg);
      }
    }

    &-secondary {
      @extend .button;
      padding: 0.5rem 1rem;
      line-height: 2;
      color: $primary-color;
      background-color: $secondary-color;
    }

    &-secondary:hover {
      @extend .button;
      @include easeOut;
      padding: 0.5rem 1rem;
      background-color: lighten($primary-color, 100%);
      border: $primary-color 1px solid;
    }
  }
}

button {
  padding: 0.4rem 2rem;
  line-height: 2;
  background-color: $secondary-color;
  border: $secondary-color 1px solid;
  color: $primary-color;
}

button:hover {
  @include easeOut;
  border: $primary-color 1px solid;
  background-color: lighten($primary-color, 100%);
}

header {
  min-height: 100vh;
  position: relative;
  h1 {
    padding-top: 30vh;
  }
  &::before {
    background-image: $home-image;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
  }
}

nav {
  min-height: 6vh;
  border-bottom: solid $secondary-color 4px;

  .nav-link {
    color: lighten($primary-color, 100%);
    line-height: 3;
  }
}

section {
  min-height: 100vh;
  background-color: lighten($primary-color, 100%);
  color: $primary-color;
  padding-top: $section-padding;

  .md-heading,
  .sm-heading {
    margin: 0;
    text-align: left;
    padding: 0.2rem 1rem;
    background-color: lighten($primary-color, 100%);
  }

  .sm-heading {
    color: rgba(lighten($primary-color, 2), 0.5);
  }
  &.about-me {
    min-height: 95vh;

    .links {
      color: $primary-color;
      margin-right: 0.6rem;
    }

    .links:hover {
      @include easeOut;
      color: $secondary-color;
    }

    .text {
      line-height: 1.8;

      span {
        font-weight: 800;
      }
    }
  }

  &.portfolio {
    background-color: lighten($primary-color, 69%);

    .sm-heading,
    .md-heading {
      background-color: lighten($primary-color, 69%);
    }

    .card {
      box-shadow: 2px 2px 5px 0px lighten($primary-color, 65%);
      h5 {
        color: $primary-color;
        font-weight: 600;
      }

      i {
        color: lighten($primary-color, 20%);
      }

      i:hover {
        @include easeOut;
        color: $primary-color;
        font-size: 1.8rem;
      }
    }
  }

  &.contact-form {
    min-height: 80vh;

    .form-control:focus {
      border-color: lighten($primary-color, 90%);
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.3);
    }
  }

  &.contact-info {
    min-height: 10vh;
    background-color: $primary-color;
    color: lighten($primary-color, 100%);
    padding-top: 0;

    h3 {
      font-size: 1.2rem;
    }

    p {
      color: lighten($primary-color, 50%);
    }

    .rigts {
      border-top: lighten($primary-color, 10%) 1px solid;
    }
  }
}

.programming-language {
  width: 7%;
  margin: 1%;
}
