@import "node_modules/bootstrap/scss/bootstrap";

$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../image/background.jpg);
$background-opacity: 0.9;

* {
  box-sizing: border-box;
}

p-0 {
  padding: 0;
}

body {
  background-color: $primary-color;
  color: lighten($primary-color, 100%);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0 5rem;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.md-heading {
    font-size: 2.8rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($primary-color, 2), 0.5);
  }
}

.text-second {
  color: $secondary-color;
}

a,
a:hover {
  text-decoration: none;

  &.button {
    font-size: 1.3rem;
    color: $secondary-color;
    border: lighten($primary-color, 100%) solid 1px;
    padding: 0.8rem 1rem;
    line-height: 1.3;
    border-radius: 5px;

    &.button:hover {
      color: $primary-color;
      background-color: $secondary-color;
    }

    &-secondary {
      @extend .button;
      line-height: 4;
      color: $primary-color;
      background-color: $secondary-color;
    }

    &-secondary:hover {
      @extend .button;
      color: $secondary-color;
      background-color: lighten($primary-color, 100%);
      border-color: $primary-color;
    }
  }
}

header {
  min-height: 100vh;
  background-size: cover;
  h1 {
    padding-top: 30vh;
  }
}

nav {
  min-height: 6vh;
}

section {
  min-height: 100vh;
  background-color: lighten($primary-color, 100%);
  color: $primary-color;

  .md-heading,
  .sm-heading {
    margin: 0;
    text-align: left;
    padding: 0.2rem 1rem;
    background-color: lighten($primary-color, 100%);
  }

  .sm-heading {
    color: rgba(lighten($primary-color, 2), 0.5);
  }
  &.about-me {
    padding-top: 8vh;
    min-height: 94vh;
  }

  &.portfolio {
    padding-top: 8vh;
    background-color: lighten($primary-color, 69%);

    .sm-heading,
    .md-heading {
      background-color: lighten($primary-color, 69%);
    }
  }

  &.contact-form {
    padding-top: 8vh;
    min-height: 80vh;
  }

  &.contact-info {
    min-height: 10vh;
    background-color: red;
    padding-top: 2vh;
  }
}
